#waybar {
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid #0077ff;
    padding: 5px;
    transition: background 0.3s ease;
}

/* --- Workspaces --- */
#workspaces button {
    padding: 0 10px;
    margin: 0 4px;
    border-radius: 15px;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.2);
    border: none;
    transition: background 0.3s ease, color 0.3s ease, opacity 0.3s ease;
    opacity: 0.95;
}

/* hover */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
}

/* workspace ativa */
#workspaces button.active {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 8px rgba(0, 119, 255, 0.9);
    opacity: 1;
}

/* workspace ocupada */
#workspaces button.occupied {
    background: rgba(0, 0, 0, 0.2);
}

/* workspace urgente */
#workspaces button.urgent {
    background: rgba(0, 0, 0, 0.2);
}

/* módulos arredondados */
#hyprland-window,
#clock,
#pulseaudio,
#custom-mic,
#network,
#cpu,
#memory,
#custom-waybar-restart,
#custom-power,
#custom-reboot {
    padding: 0 10px;
    margin: 0 4px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.2);
    color: #ffffff;
    transition: background 0.3s ease;
}

/* hover módulos */
#hyprland-window:hover,
#clock:hover,
#pulseaudio:hover,
#custom-mic:hover,
#network:hover,
#cpu:hover,
#memory:hover,
#custom-waybar-restart:hover,
#custom-power:hover,
#custom-reboot:hover {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}