<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/assets/128x128-DNNRDaR7.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QR code generator</title>
    <script type="module" crossorigin src="/src/js/options.js"></script>
    <link rel="modulepreload" crossorigin href="/src/js/context.js">
    <link rel="stylesheet" crossorigin href="/assets/context-BVScv4u_.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
